---
omniture_pageName: Kids Mealbag
omniture_channel: Kids
---

<% content_for :scripts do %>

<% end %>

<div class="kids-mealbag main-content">
    <a href="index.html" class="btn-back"></a>
    <div class="box corner-round">
        <div class="meal-bag">
            <div class="heading">
			DIVE RIGHT IN!<br/>
            </div>
            <div class="description">
                <span class="no-mobile">Use stickers of Dory and her friends to create your own underwater adventures.*</span>			
            </div>
        </div>

		 
        <div class="disclosure">
           <!--*Limited time only at participating restaurants, while supplies last.-->
        </div>
    </div>
    <%= partial "layouts/footer" %>
</div>


