---
omniture_pageName: Mickey Shorts
omniture_channel: Kids
---

<% content_for :scripts do %>
<script type="text/javascript">
    $(function () {
        $('.kids-mickey .meal-bags').slick({
            prevArrow: '<button type="button" class="btn-carousel btn-carousel-prev"></button>',
            nextArrow: '<button type="button" class="btn-carousel btn-carousel-next"></button>'
        });
    });
</script>
<% end %>

<div class="kids-mickey main-content" style="margin-top:0;">
    <a href="index.html" class="btn-back"></a>
   <div style="background:#fff200;padding:10px;margin-bottom:15px;">
     
	 
	 <table cellPadding="0" width="100%" border="0">
		<TBODY>
			<tr>
				<td width="100%">

					<h1 class="copy-big">Privacy Notice</h2>
					<table id="table2" cellspacing="0" cellpadding="0" width="100%" border="0">
					<tr>
					<td valign="top" style="font-family:Droid Serif,Times New Roman,Times,serif;font-weight:normal;color:#527a4b;font-size:20px">Franchise World Headquarters, LLC | Milford, Connecticut, USA</td>
					</tr>
					</table>


					<p class="copy-medium" style="margin-top:20px"><strong>SCOPE: </strong>This Privacy Notice applies to information, including Personal Information, collected about you by: Doctor’s Associates Inc. (“DAI”), Franchise World Headquarters, LLC (“FWH”), members of the SUBWAY® Group, and Subway Franchisee Advertising Fund Trust, Ltd. (“SFAFT”), a member of the FAF Group, as well as their affiliated companies and subsidiaries.</p>
					<p class="copy-medium" style="margin-top:10px"><strong>Information about Website Cookies</strong></p>
					<p class="copy-medium" style="margin-top:10px">Due to recent changes in law, all Websites which operate across certain parts of the European Union are required to obtain explicit consent using or storing cookies (or similar technologies) on your computers or mobile device. Our Web site uses cookies to distinguish you from other users of our Website. This helps us to provide you with a good experience when you browse our Website and also allows us to improve our site.</p>
					<p class="copy-medium" style="margin-top:10px">A cookie is a message given to a Web browser by a Web server. The browser stores the message in a text file. The message is then sent back to the server each time the browser requests a page from the server. The main purpose of cookies is to identify users and possibly prepare customized Web pages for them.</p>
					<p class="copy-medium" style="margin-top:10px">For more information about cookies, including how to see what cookies have been set on your computer, please visit: www.allaboutcookies.org and/or www.aboutcookies.org. These websites give you detailed step by step guidance on how to adjust your browser settings to your preferred level of protection, as well as manage, block, control, and delete cookies depending on your browser type.</p>
					<p class="copy-big" style="margin-top:20px">SUBWAY® Group, SFAFT, and Terms and Conditions Links</p>
					<ul class="ul-regular-bullet" style="margin:0px 0px 0px 25px">
						<li>Please  visit http://www.subway.com/subwayroot/PrivacyPolicy-FWH.aspx">click here</a> to read Franchise World Headquarters, LLC (“FWH”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/subwayroot/PrivacyPolicy-DAI.aspx">click here</a> to read Doctor’s Associates Inc.’s (“DAI”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-bv.pdf to read Subway International B.V. (“SIBV”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-au.pdf to read Subway Systems Australia Pty Ltd (“SSA”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-ca.pdf to read Subway Franchise Systems of Canada, Ltd. (“SFSC”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-co.pdf to read Subway Partners Colombia C.V. (“SPCCV”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-br.pdf to read Subway Systems do Brasil Ltda. (“SSB”) Privacy Statement.</li>
						<li>Please  visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-za.pdf to read Sandwich and Salad Franchises of South Africa Pty Ltd. (“SSFSA”) Privacy Statement.</li>
						<li>Please visit http://www.subway.com/FranchisorPolicy/frpolicy-cpeng-in.pdf to read Subway Systems India Private Limited (“SSIPL”) Privacy Statement.</li>
						<li>Please visit http://www.subway.com/subwayroot/PrivacyPolicy-SFB.aspx to read Subway Franchise Advertising Fund Trust, Ltd. (“SFAFT”) Privacy Statement.</li>
						<li>To view your country’s Privacy Statement please go to: http://www.subway.com/subwayroot/exploreourworld.aspx. At the top of the page, please click on <strong>CHANGE</strong>, which brings you the <strong>EXPLORE OUR WORLD</strong> page. To choose your Country click on the Country name, then go to the very bottom of the Country’s page and click the PRIVACY link to view the Privacy Statement specific to your Country.</li>
						<li>Please click here to review the: Terms and Conditions regarding our websites.</li>
					</ul>
					<p class="copy-big">Important Information Regarding the U.S. – EU and the U.S. - Swiss Safe Harbor Frameworks</p>
					<p class="copy-medium" style="padding-top:10px">DAI, FWH, and SFAFT, are in compliance with the U.S. Department of Commerce Safe Harbor requirements regarding the transfer of Personal Information from the European Economic Area (“EEA”) or Switzerland to the United States. DAI, FWH, and SFAFT, have been Self-Certified under the Safe Harbor privacy frameworks as set forth by the U.S. Department of Commerce, European Commission and Federal Data Protection and Information Commissioner of Switzerland, regarding the collection, storage, use, transfer and other processing of personal data transferred from the European Economic Area or Switzerland to the U.S., in accordance with Directive 95/46/EC of the European Parliament, and the Swiss Federal Act on Data Protection (FADP) effective July 1993, modified January 2008. Organizations that are Safe Harbor certified must comply with the U.S. – EU and the U.S. - Swiss “Safe Harbor” Frameworks Privacy Principles. DAI, FWH, and SFAFT’s, privacy practices are consistent with:&nbsp;&nbsp;</p>
					<ul class="ul-regular-bullet" style="margin:0px 0px 0px 25px">
						<li>The U.S.-EU and U.S.-Swiss Safe Harbor Frameworks Privacy Principles of: Notice, Choice, Onward Transfer (Transfers to Third Parties), Security, Data Integrity, Access, and Enforcement.</li>
						<li>The Organization for Economic Co-operation and Development (OECD) Privacy Principles.</li>
						<li>The Federal Trade Commission’s Fair Information Practice Principles (FIPPs).</li>
						<li>The Asia Pacific Economic Cooperation forum (APEC) Privacy Framework.</li>
						<li>Applicable country, national, state and local data protection laws (some country’s laws require country specific information in a Privacy Statement.</li>
					 </ul>
					<p class="copy-medium" style="margin-top:10px">DAI, FWH, and SFAFT, are in compliance with the U.S. Department of Commerce Safe Harbor requirements regarding the transfer of Personal Information from the European Economic Area (“EEA”) or Switzerland to the United States. DAI, FWH, and SFAFT, have been Self-Certified under the Safe Harbor privacy frameworks as set forth by the U.S. Department of Commerce, European Commission and Federal Data Protection and Information Commissioner of Switzerland, regarding the collection, storage, use, transfer and other processing of personal data transferred from the European Economic Area or Switzerland to the U.S., in accordance with Directive 95/46/EC of the European Parliament, and the Swiss Federal Act on Data Protection (FADP) effective July 1993, modified January 2008. Organizations that are Safe Harbor certified must comply with the U.S. – EU and the U.S. - Swiss "Safe Harbor" Frameworks Privacy Principles. DAI, FWH, and SFAFT’s, privacy practices are consistent with:&nbsp;</p>
					<ul class="ul-regular-bullet" style="margin:0px 0px 0px 25px">
						<li>The U.S.-EU and U.S.-Swiss Safe Harbor Frameworks Privacy Principles of: Notice, Choice, Onward Transfer (Transfers to Third Parties), Security, Data Integrity, Access, and Enforcement.</li>
						<li>The Organization for Economic Co-operation and Development (OECD) Privacy Principles.</li>
					<li>The Federal Trade Commission’s Fair Information Practice Principles (FIPPs).</li>
					<li>The Asia Pacific Economic Cooperation forum (APEC) Privacy Framework.</li>
					  <li>Applicable country, national, state and local data protection laws (some country’s laws require country specific information in a Privacy Statement.</li>
					</ul>
					<p class="copy-big">Personal Information We May Collect</p>
					<p class="copy-medium" style="margin-top:10px">We collect Personal Information obtained directly from you for various purposes, such as, but not limited to:&nbsp;</p>
					<ul class="ul-regular-bullet" style="margin:0px 0px 0px 25px">
						<li>User registration.</li>
						<li>Subscription Services (email and/or newsletters)</li>
						<li>Corresponding with you.</li>
						<li>Job application</li>
						<li>Placing and/or Processing your order</li>
						<li>Financial Transaction Information</li>
						<li>Promotions and Sweepstakes</li>
						<li>Surveys and/or Voting</li>
					</ul>
					<p class="copy-big">Your Choices</p>
					<ul class="ul-regular-bullet" style="margin:0px 0px 0px 25px">
						<li>We give you choices about how we communicate with you..</li>
						<li>If you do not want to receive email, direct mail, or targeted advertisements regarding our products and services, simply tell us when you provide your personal information, or by following the directions in our Privacy Statement, in the email you receive from us, or on our websites in order to remove your name from our mailing lists.</li>
						<li>If you do not want to receive email, direct mail, or targeted advertisements regarding our products and services, simply tell us when you provide your personal information, or by following the directions in our Privacy Statement, in the email you receive from us, or on our websites in order to remove your name from our mailing lists.</li>
					</ul>
					<p class="copy-big">How to Contact Us</p>
					<ul class="ul-regular-bullet" style="margin:0px 0px 0px 25px">
						<li>Please direct any question concerning DAI and FWH’s privacy practices and procedures to DAI and FWH’s Privacy Officer at: privacyofficer@subway.com and/or SFAFT’s Privacy Officer at: privacyofficer@subway.com and/or the FAF Group Privacy Officer at: fafprivacyofficer@subway.com. </li>
						<li>Click below to download the Privacy Information Request Form: http://www.subway.com/subwayroot/InfoRequestForm.pdf. </li>
						<li>Or mail your written inquiry/request to:</li>
					<p class="copy-medium" style="margin-top:10px"><strong>Privacy Officer Franchise<br />
					World Headquarters, LLCs, LLC<br />
					325 Bic Drive<br />
					Milford, CT 06461</strong></p>
					<p class="copy-medium" style="text-align:right">
						<font size="1">LAST UPDATED: DAI 04/04/14</font></p>
				</td>
			</tr>

		</TBODY></table>


	 
    </div>
    <%= partial "layouts/footer" %>
</div>