
body {font-size:14.5px;
	background-color:#2ac0d4;	
	font-family:Arial;
	font-weight:bold;
	margin:0;
	padding:0;
}
	
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.corner-round{
	border:3px solid #ffffff;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;	
	-webkit-box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	-moz-box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);	
}	

.border-color-orange{border-color:#f58428;}
.border-color-blue{border-color:#2ac0d4;}
.border-color-white{border-color:#fff;}


#game-container{
	position:relative;
	max-width:892px;
	margin:0 auto;
}

#game-container #head-btn-container {
	position:relative;
	width:100%;
	display:inline-block;
	margin-bottom:10px;
	/* border: 1px solid white; */
}


#game-container #head-btn-container #logo-subway{
	/*background: url(../images/sk_logo.png) no-repeat;*/
	float:left;
	display:inline;
	height:auto;

}
#game-container #head-btn-container #logo-disney{
	/*background: url(../images/dory_logo.png) no-repeat;*/
	float:left;
	display:inline;
	margin-left:20px;
	height:auto;
}

#game-container #head-btn-container #header{display:none;}
#game-container #head-btn-container  h1{
	position:absolute;
	font-family:Helvetica-Neue,Arial,verdana,sans;
	font-weight:bold;
	font-size:36px;
	color:#ffffff;
	text-align:center;
	right:0;
	left:0;
	display:none;
}

#game-container #head-btn-container #btn-close{
	background: url(../images/close.png) no-repeat;
	float:right;
	height:32px;
	width:32px;
}

#game-container #scbldr-container{
	width:100%;
	border:5px solid #f58428;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	
	-webkit-box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	-moz-box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	
	background: #fff none repeat scroll 0 0;
	
	display:none;
}



#message-container{	
	max-width:515px;
	max-height:325px;
	text-align:center;
	position:relative;
	margin:0 auto;
	font-family:Heveltica, arial, Sans;
	font-size:14px;
	font-weight:bold;
}
#instruct-container{
	border:3px solid #2ac0d4;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;	
	-webkit-box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	-moz-box-shadow: 10px 10px 35px -8px rgba(51,51,51,0.3);
	box-shadow: -1px 0 9px -1px rgba(51, 51, 51, 0.5);	
	background: #fff none repeat scroll 0 0;
}
.how_to_play{
	padding:20px 0 20px 0;
	text-align:center;
}
.instruct_copy{
	padding:0 10px 0 10px;
}
.instruct_copy p{
	text-align:center;
	margin:0;
	margin-bottom:100px;
	}
#message-container .btn_play{
	padding:0 10px 0 10px;
	margin-top:-18px;
	text-align:center;
}

#scbldr-menu{	
	display:inline-block;
	position:absolute;
}
#scbldr-menu  ul{
	list-style-type:none;
	background:#e5f6f9;	
    margin: 0;
    padding: 5px 0 0 10px;
    width: 80%;
}
.menu_label{
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-top-right-radius:7px;
	border-bottom-right-radius:7px;
	background:#f58428;
	margin-top:25px;
	padding:5px 25px 5px 27px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.sticker{
	background:#2ac0d4;
	margin-top:0;
}
#scrlit{
	max-height:300px;
 	 border: 1px solid red; 
	/*  overflow:hidden; */
}
#scbldr-scene-container{
	width:100%;
	position:relative;
}
.scene{
    display: inline-block;
    float: right;
	margin:75px 0 40px 0;
}
.scene_dsk{margin-left: -67px;}
.drag_box{position:relative;}

#scbldr-container{position:relative;}
 #scbldr-container  #scbldr-scene-container .scene img{
	width:100%;
	height:auto;
	max-width:809px;
	max-height:429px;
}

#scbldr-container h1{
	position:absolute;
	font-family:Helvetica-Neue,Arial,verdana,sans;
	font-weight:bold;
	font-size:36px;
	color:#2ac0d4;
	text-align:center;
	right:0;
	left:0;
}

#game-container  #scbldr-footer-container{
	position:relative;
	width:100%;
	margin-top:20px;
	display:inline-block;
	color:#ffffff;
/* 	border: 1px solid white; */
display:none;
}

#btn-start-over img{
	width:auto;
	max-width:237px;
	cursor:pointer;
}
.btn_print{
	position:absolute;
	display:inline-block;
	right:0;
	top:5px;
	cursor:pointer;
}
.scrller-arrow{
	margin-bottom:25px;
	padding-bottom:20px;
	cursor:pointer;
	display:none;
}
.scrller-arrow img{
	margin-left: 20px;
}

.disableClicks{width:100%;height:100%;border:1px solid #ffffff;border:1px;z-index:10000000000;position:relative}

#scene00{display:block;}
#scene01{display:none;}
#scene00m{display:none;}	
.btn_print{	display:none;}
#no_portrait{display:none;}

